body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}
.title-bar {
    position: relative;
    margin-bottom: 20px;
    border-bottom: 2px solid #f4f4f4;
    background-color: #fafafa;
    border-radius: 0;
    height: 80px;
}

.title-bar img {
    height: 70px;
    padding: 25px 0 13px 18px;
    float: left;
}

table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
} 
